:root
{
    --primary-side-color: #FFFFFF;
    --primary-color: #EFEFEF;
    --widget-color: #748CF1;
    --call-to-action-1: #FAAAAD;
    --call-to-action-2: #B2FFD3;
}
*
{
    padding: 0;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    font-family: "Saira",serif;
}
/* define the maximum width of the main screen frame fo the web app */

#screen-frame   
{
    display: flex;
    flex-wrap: wrap;
    border:2pxs solid cyan;
}
#side-panel  
{
    height: 100%;
    max-height: fit-content;
}
#side-panel *
{
    width: 80%;
    margin-inline: auto;
}
.side-panel-item
{
    margin-top: 2em;
}

#search-bar
{
    display: flex;
    flex-wrap: nowrap;
    margin-top: 1em;
    padding: 0.2em 0.1em;
    border-radius: 10em;
    background-color: var(--primary-color);
}

#search-icon
{
    width: 9%;
    max-width: 30px;
    margin: auto;
    margin-right: 0.5em;
    height: 70%;
    max-height: 30px;
}
#search-icon img
{
    width: 100%;
    height: 100%;
    display: block;
}
#city-search
{
    padding: 0.5em;
    margin-left: 0;
    width: 90%;
    border-radius: inherit;
    background-color: inherit;
    border: none;
    font-size: 1.1em;
    outline:none;
}
#weather-img
{

    width: 35%;
}    
#weather-img img
{
    object-fit: contain;
    width: 100%;
}
#temp p
{
    text-align: center;
}
#temp-val
{
    font-size: 3em;
}
#condition
{
    font-size: 2em;
    width: 100%;
}
#date-container p 
{
    text-align: center;
}
#location{
    margin: 5em auto;
    width: 100%;
}
#location h3
{
    text-align: center;
    font-weight: lighter;
    font-size: 2.5em;
}
#sunset-container
{
    display: flex;
    flex-wrap: nowrap;
    width: 60%;
    
}
#sunset-img
{
    object-fit: contain;
    width:20%;
    
}
.day-night-item
{
    align-self: center;
}

#main-panel 
{
    border: 2px solid red;
}
hr{
    width: 60%;
    margin: auto;
}
@media screen and (min-width: 660px) {
    #side-panel,#main-panel
    {
        width: 80%;
        margin-inline: auto;
    }
}
@media screen and (min-width: 995px) {
    #side-panel
    {
        width: 30%;
    }
    #main-panel
    {
        width: 70%;
    }
}
@media screen and (min-width:1300px) {
    #screen-frame
    {
        width:80%;
        border:2px solid var(--widget-color);
        box-shadow: 0.2em 0.2em 0.5em var(--call-to-action-2),0.4em 0.4em 1em var(--call-to-action-1);
        margin-inline: auto;   
        height: 100vh;
    }
    #main-panel 
    {
        margin-top: 0;
    }
}